<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="outer">
      <div class="inner">
        <div class="colored header"></div>
        <div class="clearfixed heading"><a href="#">Hello</a><div class="social-nav"><a href="https://github.com/meliasson">GH</a> <a href="https://www.linkedin.com/in/meliasson/">LI</a> <a href="https://stackoverflow.com/users/2479741/meliasson">SO</a></div></div>
        <p>Mikael Eliasson developes software at <a href="https://www.mittmedia.se/">MittMedia</a>. He has a M.Sc. in computer science from <a href="https://www.kth.se/">KTH</a>, and has previously tried to develop software at e.g. <a href="https://www.ericsson.com/en">Ericsson</a> and <a href="https://www.sogeti.se/">Sogeti</a>.</p>
        <p>Occasionally, Mikael does programming that isn't work related. examples of current pet projects are:</p>
        <ul>
          <li><a href="#">GDAX</a> #cryptocurrencies #tradingbots #gdax #api #websocket #js</li>
          <li><a href="#">Multiplayer</a> #networking #clientprediction #websocket #js</li>
          <li><a href="#">RaspberryPi</a> #motionsensors #speechrecognition #retrogaming</li>
        </ul>
      </div>
    </div>
  </body>
</html>
