<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href='/stylesheets/style.css' rel='stylesheet' />
    <script src="/javascripts/index.js" type="module"></script>
  </head>
  <body>
    <div class="heading"><div class="social-nav"><a href="https://github.com/meliasson">GitHub</a> <a href="#">CV</a></div></div>
    <p>Mikael Eliasson developes software at <button id="mittmedia">MittMedia</button>.<span id="mittmedia-marquee" class="hidden wide marquee">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur convallis augue, in lobortis nisi porta varius.</span> He has an M.Sc. in computer science from <button id="kth" class="info">KTH</button>,<span id="kth-marquee" class="hidden wide marquee">Lorizzle ipsum dolor sizzle sizzle, shizznit adipiscing elit. Hizzle pot velizzle, ghetto volutpat, suscipit quizzle</span> and has previously worked at for example <button id="ericsson">Ericsson</button><span id="ericsson-marquee" class="hidden wide marquee">Lorem quinoa coloring book jean shorts normcore, dreamcatcher humblebrag pug sartorial air plant.</span> and <button id="sogeti">Sogeti</button>.<span id="sogeti-marquee" class="hidden wide marquee">Gaff chase pink topsail grog ballast fire ship booty Davy Jones' Locker haul wind. Barkadeer doubloon clipper gun knave Pieces of Eight.</span></p>
    <p>Occasionally, programming that isn't work related happens. Examples of current pet projects are <a href="#">GDAX</a>, <a href="https://github.com/meliasson/multiplayer">Multiplayer</a> and <a href="#">RaspberryPi</a>.</p>
    <p>Even more occasionally books are read. Some that haven't been read, but hopefully will be, are <a href="http://landoflisp.com/">LoL</a>, <a href="https://mitpress.mit.edu/sites/default/files/sicp/index.html">SICP</a>, and <a href="https://en.wikipedia.org/wiki/G%C3%B6del,_Escher,_Bach">GEB</a>.</p>
    <p>Finally, all flaws&mdash;if any&mdash;in design and implementation of this website, exist because the author understands that <a href="https://en.wikipedia.org/wiki/Worse_is_better">worse is better</a>.</p>
    <div class="wide canvas"><canvas id="game-of-life"></canvas></div>
  </body>
</html>
