<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link href='/stylesheets/style.css' rel='stylesheet' />
  </head>
  <body>
    <div class="outer">
      <div class="inner">
        <div class="heading"><a href="#" onmousedown="new Audio('/sounds/hello.mp3').play()">Hello</a><div class="social-nav"><a href="https://github.com/meliasson">GH</a> <a href="https://www.linkedin.com/in/meliasson/">LI</a> <a href="https://stackoverflow.com/users/2479741/meliasson">SO</a></div></div>
        <p>Mikael Eliasson developes software at <a href="https://www.mittmedia.se/">MittMedia</a>. He has a M.Sc. in computer science from <a href="https://www.kth.se/">KTH</a>, and has previously worked at for example <a href="https://www.ericsson.com/en">Ericsson</a> and <a href="https://www.sogeti.se/">Sogeti</a>.</p>
        <p>Occasionally, programming that isn't work related happens. Examples of current pet projects are <a href="#">GDAX</a>, <a href="#">Multiplayer</a> and <a href="#">RaspberryPi</a>.</p>
        <p>Even more occasionally books are read. Some that haven't been read are <a href="#">LoL</a>, <a href="#">SICP</a> and <a href="#">GEB</a>.</p>
      </div>
    </div>
  </body>
</html>
