* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  font-family: Helvetica Neue, sans-serif;
  font-size: 36px;
  line-height: 1.4;
  margin: 10px;
}

body.active {
  background: url(/images/space-cat.gif) no-repeat center center scroll;
  background-size: cover;
  color: #00ff00;
  font-family: Comic Sans MS, Marker Felt, sans-serif;
}

button {
  background: none;
  border: 2px solid #000;
  font-family: Courier New, monospace;
  font-size: inherit;
  margin: 1px;
  padding-left: 8px;
  padding-right: 8px;
  text-transform: lowercase;
}

body.active button#hello {
  background: #bfbfbf;
  border-bottom: 3px solid #000;
  border-left: 3px solid #dfdfdf;
  border-right: 3px solid #000;
  border-top: 3px solid #dfdfdf;
  color: #000;
  margin: 0;
}

body.active button {
  border-color: #00FF00;
  color: #00FF00;
}

a {
  color: #000;
}

body.active a {
  color: #00FF00;
}

p {
  margin-top: 36px;
}

.social-nav {
  float: right;
  text-transform: lowercase;
}

.marquee {
  background: blue;
  color: aqua;
  display: block;
  font-family: serif;
  font-size: 24px;
  margin: 20px 0;
}

.marquee.hidden {
  display: none;
}

.wide {
  margin-left: -10px;
  margin-right: -10px;
}

.canvas {
  display: none;
  margin-top: 20px;
  padding-bottom: 100%;
  position: relative;
}

canvas {
  height: 100%;
  position: absolute;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 24px;
    margin: 6px;
  }

  button {
    border: 1px solid #000;
    padding-left: 5px;
    padding-right: 5px;
  }

  body.active button#hello {
    border-bottom: 2px solid #000;
    border-left: 2px solid #dfdfdf;
    border-right: 2px solid #000;
    border-top: 2px solid #dfdfdf;
  }

  p {
    margin-top: 24px;
  }

  .marquee {
    font-size: 14px;
    margin-bottom: 12px;
    margin-top: 12px;
  }
}
