* {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: 'Space Mono', monospace;
  font-size: 44px;
  text-transform: lowercase;
}

a {
  background: yellow;
  color: #333;
  text-decoration: none;
}

li {
  margin-top: 22px;
}

p {
  margin-top: 44px;
}

ul {
  margin-top: 44px;
}

.inner {
  margin-left: -10.34%;
  margin-right: -19.44%;
}

.outer {
  border: 1px solid #333;
  margin: 44px 15% 44px 8%;
  padding: 22px 0 44px 0;
  /* animation: pulse 10s infinite; */
}

.social-nav {
  float: right;
}

@keyframes pulse {
  0% {background-color: white;}
  50% {background-color: deeppink;}
  100% {background-color: white;}
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 22px;
  }

  li {
    margin-top: 11px;
  }

  p {
    margin-top: 22px;
  }

  ul {
    margin-top: 22px;
  }

  .outer {
    margin-top: 22px;
    margin-bottom: 22px;
    padding: 11px 0 22px 0;
  }
}
